.details-header-top {
  border-bottom: 1px solid #ebebeb;
  margin: 0 -120px;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-heder-top-level {
  display: flex;
  align-items: center;
}

.details-header-bottom {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-header-bottom-right {
  display: flex;
}

.details-header-bottom-left {
  display: flex;
  align-items: center;
  color: #212121;
  font-size: 12px;
}

.details-button {
  height: 48px;
  border-radius: 24px;
  border: solid 1px #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #212121;
  margin: 0 8px;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.details-button:hover {
  background-color: #f8f8f8;
}

.details-button > img {
  margin-left: 10px;
}

.details-button * {
  font-size: inherit;
}

.details-button-heart {
  color: #ec407a;
  font-size: 15px;
}

.details-header-bottom-left-textSeperator {
  margin-right: 15px;
  padding-right: 15px;
  display: inline-block;
  border-right: 1px solid #ebebeb;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56.7px;
  height: 30.9px;
  margin: 0 10px;
}

/* Hide default HTML checkbox */
.switch input {
  /*display: none;*/
}

/* The slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 2px;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  transition: 0.4s;
  border-radius: 30px;
}

.switch-slider::before {
  position: absolute;
  content: '';
  width: 26px;
  height: 26px;
  bottom: 2px;
  right: 25px;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .switch-slider {
  border-radius: 15.5px;
  background-color: #ec407a;
}

input:checked + .switch-slider::before {
  transform: translateX(22px);
  background-color: #fff;
}

.switch-text {
  color: #fff;
  position: absolute;
  left: 28px;
  top: 7%;
  transform: translateY(-50%);
}

.autobid {
  outline: none;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: left;
  background: #eb3f7a;
  color: white;
  border: none;
}
