<div class="details-header-top">
  <div class="breadCrumb">
    <img class="breadCrumb-home" src="assets/resources/images/assets/png/home.png" alt="">
    <a href="">صفحه نخست</a>
    <img class="breadCrumb-arrow" src="assets/resources/images/assets/png/arrow.png" alt="">
    <a>{{auction?.title}}</a>
  </div>

  <div class="details-heder-top-level">
    <span style="font-size: 12px; color: #707070;">سطح حراجی:</span>
    <img src="assets/resources/images/assets/png/star.png" alt="" style="margin: 0 10px;">
    <span style="font-size: 16px; color: #212121;">{{auction?.level}} / {{auction?.maxLevel}}</span>
  </div>
</div>
<div class="details-header-bottom" (click)="closeOpenedSocial($event)">
  <div class="details-header-bottom-right">
    <span class="details-button" (click)="showProductDetails()">مشخصات محصول</span>
    <span class="details-button details-button-heart"><img src="assets/resources/images/assets/svg/heart-red.svg"/> {{auction?.likeCount}} </span>
    <span class="details-button" (click)="closeSocial($event)"><img src="assets/resources/images/assets/png/share.png"/> اشتراک گذاری </span>
    <app-share-auction *ngIf="toggleSocial"
      [auctionId]="auction?.auctionId"
      [title]="auction?.title"
      [description]="auction?.title"
      [url]="Link.auctionUrl(auction?.auctionId)">
   </app-share-auction>
  </div>

  <div class="details-header-bottom-left">
    <div *ngIf="auction?.charity;then content"></div>
    <ng-template #content>
      <span>{{auction.charity?.description}}</span>
    </ng-template>
    <app-auto-bid></app-auto-bid>
  </div>
</div>
