.social-container{
  background-color: #fdebf1c7;
  border: 1px solid #eb3f7a61;
  border-radius: 32px;
  padding-top: 42px;
  width: 40px;
  position: absolute;
  right: 53px;
  padding-bottom: 2px;
}
