/* =fadeInHoriz */
@keyframes fadeInHoriz {
  0% {
    visibility: hidden;
    opacity: 0;
    /*transform: translateX(25px);*/
  }
  100% {
    visibility: visible;
    opacity: 1;
    /*transform: translateY(0);*/
  }
}

.MyAnimation-fadeInHoriz {
  animation: fadeInHoriz 0.8s ease;
}

/* =fadeIn */
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.myCfnAnimation-fadeIn {
  animation: fadeIn 0.8s ease;
}

.myCfnAnimation-slideup {
  animation: slideup .5s ease both;
  display: block !important;
}

.myCfnAnimation-slidedown {
  animation: slidedown .5s ease both;
  display:  block;
}

.myCfnAnimation-slideleft {
  animation: slideleft .5s ease both;
  display:  block;
}

.myCfnAnimation-slideright {
  animation: slideRight .5s ease both;
  /*animation : progress 1s linear forwards;*/
  display:  block;
}

.myCfnAnimation-slideleft-none {
  animation: slideleftNone .5s ease both;
  display:  block;
}

.myCfnAnimation-slideright-none {
  animation: slideRightNone .5s ease both;
  display:  block;
}

.myCfnAnimation-slideup-none {
  animation: slideupNone .5s ease both;
  display: block !important;
}

.myCfnAnimation-slidedown-none {
  animation: slidedownNone .5s ease both;
  display: block !important;
}

@keyframes slideleftNone {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    visibility: visible;
    transform: translateX(-100%);
  }
}

@keyframes slideRightNone {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideupNone {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slidedownNone {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

@keyframes slideleft {
  from {
    opacity: 0;
    visibility: visible;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
}


@keyframes progress {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
