
.accountProfile-basket-off {
  align-self: stretch;
  position: relative;
  margin: 0 30px;
  margin-top: 20px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.accountProfile-basket-off > input {
  margin: 0;
}

.accountProfile-basket-offButton {
  position: absolute;
  left: 5px;
  top: 3px;
  width: 83px;
  height: 49px;
  opacity: 0.4;
  border-radius: 24px;
  background-color: #212121;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.accountProfile-basket-onButton {
  position: absolute;
  left: 5px;
  top: 3px;
  width: 83px;
  height: 49px;
  border-radius: 24px;
  background-color: #ec407a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.off-content-text {
  width: 380px;
}
