<div class="account-container">
  <span class="account-logo">یونی‌بید</span>
  <p class="account-regularText">بازیابی رمز عبور حساب کاربری</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="account-forgetPass">
  <input class="cfnText" [ngClass]="{'inputInvalid': this.submitted && this.formFields.forgotField.errors}" formControlName="forgotField" type="text" placeholder="شماره موبایل / نام کاربری">
  <button href="" [disabled] = "progress" class="cfnButton cfnButton-primary">دریافت رمز عبور جدید</button>
</form>
</div>
<div class="account-footer">
  <ul class="account-footer-list">
    <li><a href="">قوانین و مقررات</a></li>
    <li><a href="">حریم خصوصی</a></li>
  </ul>
  <span dir="ltr">Copyright © unibid allrights reserved.</span>
</div>

<app-success></app-success>
<app-error></app-error>
<app-loading></app-loading>
