<div class="accountProfile accountProfile-basket">
  <div class="profileContainer">
    <p class="accountProfile-title">سبد خرید<img src="assets/resources/images/assets/png/arrowDown.png" (click)="goBack()"/></p>
    <div class="accountProfile-basketWrapper" *ngFor="let cart of carts">
      <app-cart-item [cart]="cart" (delete)="deleteCart($event)"></app-cart-item>
    </div>

    <div class="dropDown-container" (click)="toggleShipmentMethod=!toggleShipmentMethod;">
      <span class="stamp is-nope">ارسال</span>
        <p class="cart-menu-selector">{{selectedMethod.title}} با هزینه {{selectedMethod.price | currency : ' ' : 'symbol' : '1.0-0'}} تومان <img src="assets/resources/images/assets/png/arrowDown.png"/></p>
        <app-shipment-method *ngIf="toggleShipmentMethod" [methods]="methods"></app-shipment-method>
    </div>

    <div class="accountProfile-priceTotal">
      <span>قیمت نهایی:</span>
      <span>{{totalPrice | currency : ' ' : 'symbol' : '1.0-0'}} تومان </span>
    </div>

    <div class="shipping-profile-button">
      <a class="cfnButton cfnButton-primary" (click)="togglePreview()">پرداخت</a>
    </div>
    <app-loading></app-loading>
    <app-error></app-error>
    <app-success></app-success>
  </div>
</div>
