<div class="account-container">
  <span class="account-logo">یونی‌بید</span>
  <p class="account-regularText">ورود به حراجی</p>
  <span class="account-pic"></span>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input class="cfnText" [ngClass]="{'inputInvalid': this.submitted && this.formFields.username.errors}" formControlName="username" type="text" placeholder="نام کاربری">
  <input class="cfnText" [ngClass]="{'inputInvalid': this.submitted && this.formFields.password.errors}" formControlName="password" type="password" placeholder="رمز عبور">
  <button href="" [disabled] = "loading" class="cfnButton cfnButton-primary">ورود</button>
</form>
  <div class="account-forget">
    <input type="checkbox" id="chkRemember">
    <label for="chkRemember">مرا به خاطر بسپار</label>
    <a href="" class="account-forget-text">رمز عبور خود را فراموش کرده‌اید؟</a>
  </div>
  <div class="account-register">
    <span>هنوز ثبت نام نکرده اید؟</span>
    <a href="" routerLink="/signup">ثبت نام</a>
  </div>
</div>
<div class="account-footer">
  <ul class="account-footer-list">
    <li><a href="">قوانین و مقررات</a></li>
    <li><a href="">حریم خصوصی</a></li>
  </ul>
  <span dir="ltr">Copyright © unibid allrights reserved.</span>
</div>

<div class="cfnLoaderWrapper" *ngIf="loading">
  <div class="cfnLoader"></div>
</div>

<div class="cfnError" #errorMessage>
  <ng-template [ngIf]="errorObj">
  <div>
    {{errorObj.error.message}}
  </div>
</ng-template>
</div>
