{% extends 'site/layout.html' %}
{% block title %} درگاه پرداختsy {% endblock %}
{% block content %}
<div class="content-page" id="app">
	<div class="Package">
		<div v-cloak class="container">
			<div class="product-quickview woocommerce">

					<h3 class="order_review_heading">انتخاب درگاه پرداخت</h3>
					<div class="woocommerce-checkout-review-order" id="order_review">
						<div class="table-responsive">
							<table class="shop_table woocommerce-checkout-review-order-table">
								<tfoot>
									<!--
									<tr class="order-total">
										<th>موجودی حساب شما</th>
										<td><strong><span class="amount"><span >{{current_user.credit}}</span> تومان </span></strong> </td>
									</tr> -->
									<tr class="order-total">
										<th>مبلغ پرداختی نهایی</th>
										{%raw%}
										<td><strong><span class="amount">{{ToPersian(formatCurrency(amount))}} تومان</span></strong></td>
										{%endraw%}
									</tr>

								</tfoot>
							</table>
						</div>
						<div class="woocommerce-checkout-payment" id="payment">
							<div class="form-row place-order" style="text-align:center">
								<!-- <form style="display:inline-block" id="confirm1" action="https://bpm.shaparak.ir/pgwchannel/startpay.mellat" method="post">
									{%raw%}<input type="hidden" name="RefId" id="RefId" value="{{ref_id}}">{%endraw%}
									<img src="/static/img/mellat.jpg" class="payment_gateway" onclick="$(this).parent().submit()">
								</form> -->
								{%raw%}
								<form style="display:inline-block" id="confirm2" v-bind:action="'https://www.zarinpal.com/pg/StartPay/'+ref_id" method="get">
									<img src="/static/img/zarinpal.png" class="payment_gateway" onclick="$(this).parent().submit()">
								</form>
								{%endraw%}
							</div>
						</div>
					</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>

var app = new Vue({

	el: "#app",
	data:{
		payment_id : {{pid}},
		amount : {{amount}},
		ref_id : "",
		must_login : false
	},
	mounted:function() {

		axios.post("{{url_for('zarinpalgateway')}}",
			{
				"pid":this.payment_id,
			},
			{
				headers:
				{
					'Content-Type': 'application/json',
					"X-CSRF-TOKEN" : getCookie('csrf_access_token'),
				}
			}).then((response) => {

				console.log(response.data);
				this.ref_id = response.data.ref_id;

			})
			.catch((error)=>{
				if(error.response.status==422){
					this.must_login = true;
				}
			});
	},
});

	// function getRefID() {
	// 	pid = $('#pid').val();
	//
	// 	$.ajax({
	// 		url: "{{url_for('zarinpalgateway')}}",
	// 		type: 'post',
	// 		data: {
	// 				pid:pid
	// 		},
	// 		dataType: 'json',
	// 		error:function(data){
	// 			console.log(data);
	// 		},
	// 		success:function(data) {
	// 			console.log(data);
	// 			$('#RefId').val(data['ref_id']);
	// 			$('#amount').html(ToPersian(formatCurrency($('#amount_money').val())) + " تومان ")
	// 		}
	// 	});
	// }
	// getRefID();
	//

	$('#confirm1').on('submit', function(event){
		if(app.must_login){
			event.preventDefault();
			swal(
				'دقت کنید',
				'برای این عملیات نیاز به ورود مجدد به سایت است',
				'warning'
			)
			return;
		}
		if(!app.ref_id){
			event.preventDefault();
			swal(
				'دقت کنید',
				'لطفا اندکی صبر کنید تا توکن پرداخت حاضر شود...',
				'warning'
			)
		}
	});

	$('#confirm2').on('submit', function(event){
		if(app.must_login){
			event.preventDefault();
			swal(
				'دقت کنید',
				'برای این عملیات نیاز به ورود مجدد به سایت است',
				'warning'
			)
			return;
		}
		if(!app.ref_id){
			event.preventDefault();
			swal(
				'دقت کنید',
				'لطفا اندکی صبر کنید تا توکن پرداخت حاضر شود...',
				'warning'
			)
		}
	});

</script>

{% endblock scripts %}
