<!doctype html>
<html lang="en-US" ng-app='bidbazi'>
  <head>
    {% block head_meta %}
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    	<meta content="fa" http-equiv="Content-Language"/>
    	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    	<meta name="description" content=""/>
    	<meta name="keywords" content=""/>
    	<meta name="robots" content="noodp,index,follow"/>
      <meta name="google-site-verification" content="QY_hSHE2T8uULuCap_fi3nA-indtctkjy4lLkZEat3s" />
    {% endblock head_meta %}
    <title>{% block title %}{% endblock %}   حراجی آنلاین اینترنتی </title>
    {% block head_css %}

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/sweetalert2.min.css') }}"/>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/font-awesome.min.css') }}"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/bootstrap-theme.css') }}"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/jquery.fancybox.css') }}"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/jquery-ui.min.css') }}"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/owl.carousel.css') }}"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/owl.transitions.css') }}"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/owl.theme.css') }}"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/fontiran.css') }}" media="all"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/jquery.mCustomScrollbar.css') }}"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/animate.css') }}"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/hover.css') }}"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/color-purple.css') }}" media="all"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme-purple.css') }}" media="all"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}" media="all"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/browser.css') }}" media="all"/>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rtl.css') }}" media="all"/>

    {% endblock head_css %}


    {% block head %}
    {% endblock head%}

    {% block head_tail %}
    {% endblock head_tail%}
  </head>
  <body style="background:#fff">
    <div class="wrap">
      {% block header %}
        <div id="header">
      		<div class="header">

      		</div>
    	  </div>
      {% endblock header %}

      <div id="content">
        {% block content %}

        {% endblock %}
      </div>

      <div id="footer">
        {% block footer %}

        {% endblock %}
      </div>
  </div>

  <div id="myModal" class="modal">
      <div class="modals">
          <div class="loader"></div>
      </div>
  </div>
  
  {% block scripts %}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.fancybox.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-ui.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/owl.carousel.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.mCustomScrollbar.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/wow.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/popup.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/TimeCircles.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/flipclock.js')}}"></script>
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/theme.js')}}"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/site.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/vue.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/axios.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/sweetalert2.all.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.progressTimer.js')}}"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127836074-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127836074-1');
  </script>

  {% endblock scripts %}


  </body>
</html>
