{% extends 'admin/base.html' %}

{% block access_control %}

<li class="dropdown user user-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-user-circle" style="color: white; font-size: 1.4em;"></i>
    <span class="hidden-xs">
      Mr_asadi
   </span>
</a>
<ul class="dropdown-menu">
  <!-- User image -->
  <li class="user-header">
    <i class="fa fa-user-circle" style="color: white; font-size: 7em;"></i>
    <p>
      {{current_user.username}}
      Admin
      <small>Member since {{current_user.created_at}}</small>
   </p>
</li>
<!-- Menu Body -->
<li class="user-body">

</li>
<!-- Menu Footer-->
<li class="user-footer">
  <!-- <div class="pull-left">
    <a href="#" class="btn btn-default btn-flat">Profile</a>
</div> -->
<div class="pull-right">
<a href="/logout" class="btn btn-default btn-flat">خروج</a>
</div>
</li>
</ul>
</li>

{% endblock %}
