<div class="accountProfile">
  <div class="editProfileContainer">
    <p class="accountProfile-title">ویرایش رمز عبور<img src="assets/resources/images/assets/png/001-down-arrow-copy-5.png" (click)="goBack()" /></p>
    <div class="accountProfile-profile-editProfile">
      <app-small-states *ngIf="shared.states" [state]="selectedState?.title" [states]="editables?.states"></app-small-states>
      <form [formGroup]="registerForm">
        <div><input type="password" class="cfnText" placeholder="رمز عبور فعلی"  formControlName="oldPassword"/></div>
        <div><input type="password" class="cfnText" placeholder="رمز عبور جدید"  formControlName="newPassword"/></div>
        <div><input type="password" class="cfnText" placeholder="تایید رمز عبور جدید"  formControlName="confirmPassword"/></div>
        <div><input type="text" style="display:none;" class="cfnText" placeholder="تاریخ امروز" formControlName="currentTime" value="{{ current_date | persian : 'dddd DD MMMM YY ساعت HH:mm'}}"/></div>
        <a href="" class="cfnButton cfnButton-primary" (click)="ChangePassword($event)">تغییر رمز عبور</a>
    </form>
    </div>
    <app-success></app-success>
    <app-error></app-error>
    <app-loading></app-loading>
  </div>
</div>
