.accountProfile {
  position: absolute;
  top: 58px;
  width: 400px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #212121;
  font-size: 12px;
  direction: rtl;
  padding: 15px 0;
  padding-top: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.editProfileContainer {
  width: 400px;
}

.accountProfile > div > p {
  align-self: stretch;
}

.accountProfile-title {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 15px;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.accountProfile-title > img {
  position: absolute;
  right: 10px;
  top: 13px;
}

.accountProfile-title > span {
  position: absolute;
  left: 10px;
  top: 18px;
  color: #ec407a;
}

.accountProfile-profile-editProfile {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  padding-top: 25px;
}


.cfnText {
  text-align: center;
  color: #212121;
  font-size: 14px;
}
