<app-header></app-header>
<div class="main" style="text-align: center">
  <div class="background">
    <div class="contact-form" style="width: 500px; height: 620px; background-color:white; text-align: right">
      <h3 style="font-size: 24px">فرستادن پیام به ما</h3>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="margin-top: 10px">
        <input class="cfnText"  formControlName="name" type="text" placeholder="نام و نام خانوادگی">
        <input class="cfnText"  formControlName="email" type="email" placeholder="ایمیل">
        <input class="cfnText"  formControlName="phone" type="phome" placeholder="شماره تماس">
        <p style="font-size: 18px; color: rgb(107, 107, 107)">روش دریافت پاسخ</p>
        <label class="container" style="float: right; margin-left: 20px">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
          ایمیل
        </label>
        <label class="container" style="float: right">
          <input type="radio" name="radio">
          <span class="checkmark"></span>
          پیامک
        </label>

        <textarea class="cfnText" style="height: 100px;"  placeholder="متن پیام"></textarea>
        <button href="" [disabled] = "loading" class="cfnButton cfnButton-primary">ارسال</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>