{% extends 'site/layout.html' %}
{% block title %} سوالات متداول {% endblock %}
{% block content %}
<div class="content-page">
	<div class="container">
		<div class="bread-crumb radius">
			<a href="/">خانه</a> <span>پرسش و پاسخ</span>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-single single-fullwidth">
			<div class="main-single pr-0">
				<h2 class="title-single">پرسش و پاسخ</h2>
				<main class="FAQ">
						<input type="text" class="live-search-box" placeholder="جستجوی عبارت مورد نظر..." />
						<div class="topic">
							<div class="open">
							<h2 class="question">۱.	چگونه می توان به یونی بید اعتماد کرد؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								وب سایت و اپلیکیشن های یونی بید دارای مجوزهای لازم از نهادهای ذیربط می باشند. یونی بید دارای نماد اعتماد الکترونیک از سوی وزارت صنعت، معدن و تجارت است و در مرکز رسانه های دیجیتال ثبت شده و مورد تایید است. همچنین شماره تماس و آدرس یونی بید جهت ارتباط با مشتریان در وبسایت ثبت شده است و کارشناسان پشتیبانی پاسخگوی سوالات کاربران عزیز می باشند.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۲. از کجا می توان متوجه شد که چند نفر در هر حراج شرکت کرده اند و این عدد در چه زمانی قطعی خواهد بود؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
با توجه به اینکه ممکن است در زمان شروع حراج تعدادی از کاربران در حال انجام عملیات پرداخت در درگاه بانکی باشند،  ۴۰ ثانیه بلافاصله بعد از اتمام فرآیند، تعداد دقیق شرکت کنندگان در حراج در صفحه حراجی قابل مشاهده خواهد بود. ۴۰ ثانیه زمان برای تکمیل این عملیات و برگشت به سایت (اپلیکیشن) یونی بید درنظر گرفته شده است.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۳. در صورت عدم تکمیل ظرفیت حراج یک کالا چه اتفاقی رخ خواهد داد؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								تمام حراج های اعلام شده در سایت در زمان مقرر و با هر تعداد شرکت کننده - حتی یک نفر - انجام می پذیرد.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۴. آیا در تمام ساعات شبانه روز می‌توانم در خریدهای هیجان انگیز ثبت نام کنم؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								شما در ۲۴ ساعت شبانه روز و ۷ روز هفته می‌‏توانید در خرید هیجان انگیز کالاها ثبت نام کنید.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۵. ممکن است پرداخت اینترنتی ناموفق باشد، ولی مبلغ از حساب من کم شده باشد؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
							گاهی ممکن است در هنگام پرداخت شبکه بانکی قطع شود و پرداخت ناموفق انجام شود. اما در این مواقع جای نگرانی وجود ندارد. در این حالت معمولاً پول شما در حساب‏‌های میانی بانک است و خود بانک مغایرت‏‌ها را رفع کرده و مبلغ را به صورت خودکار به حساب شما برگشت می‌‏دهد. اگر تا ۷۲ ساعت پول به حسابتان برگشت نخورد، آنگاه با بانک عامل پرداخت اینترنتی تماس بگیرید تا مغایرت برطرف شود.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۶. کاربرد ضرایب پیشنهاد (X) چیست؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								هدف از تعریف ضرایب پیشنهاد، جلوگیری از طولانی شدن زمان حراج در کالاهای با قیمت بالا می باشد. به عنوان مثال اگر ضریب یک پیشنهاد X5 است به این معنا است که با هر کلیک روی دکمه پیشنهاد در زمان حراج، ۵۰۰۰ تومان به مبلغ قبلی اضافه می شود و با کلیک نفر بعدی روی دکمه پیشنهاد ۵۰۰۰ تومان دیگر نیز اضافه خواهد شد تا در نهایت برنده حراجی مشخص شود.
							</p>
						</div>

						<div class="topic">
							<div class="open">
							<h2 class="question">۷. چگونه می توانم پیشنهاد خود را در زمان حراج ثبت کنم؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								بدین منظور لازم است در خرید هیجان انگیز شرکت کنید و یکی از بسته های پیشنهادی را خرید نمایید. در این صورت و البته پس از شروع زمان حراجی، دکمه "پیشنهاد" فعال شده که با کلیک کردن بر روی آن می توانید پیشنهاد خود را ثبت نمایید.
							</p>
						</div>

						<div class="topic">
							<div class="open">
							<h2 class="question">۸. چه تعداد نفر امکان ثبت نام در خرید هیجان انگیز را دارا می باشند؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								ظرفیت تعداد نفرات برای خرید هیجان انگیز در کنار هر کالا مشخص می باشد. در صورتی که هنوز این تعداد پر نشده باشد شما می توانید در خرید هیجان انگیز ثبت نام کنید.
							</p>
						</div>

						<div class="topic">
							<div class="open">
							<h2 class="question">۹. هزینه شرکت در هر خرید هیجان انگیز چقدر است؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								شما برای شرکت در هر خرید هیجان انگیز لازم است تنها پس از ثبت نام از بین بسته های پیشنهادی موجود ( طلایی، نقره ای، برنزی)، با توجه به تمایل و شرایط خود، یک بسته را انتخاب و هزینه آن را پرداخت نمایید. هر بسته دارای یک بلیط شرکت در حراجی است که تقدیم شما می شود و امکان حضور در حراج آن کالا را برای شما فراهم می آورد.

							</p>
						</div>

						<div class="topic">
							<div class="open">
							<h2 class="question">۱۰. آیا ثبت نام در سایت شامل هزینه می باشد؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								ثبت نام در سایت به صورت رایگان می باشد و هیچ هزینه ای شامل آن نمی گردد. اما شرکت در خریدهای هیجان انگیز شامل هزینه است که به ازای هر حراج مشخص شده است.

							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۱۱. آیا کالاهای موجود در یونی بید نو می باشند؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								بله. تمامی کالاهای عرضه شده در یونی بید، نو و اصل بوده و دارای گارانتی معتبر می باشد. یونی بید متعهد می شود تمامی کالاها نو بوده و به هیچ عنوان کالای دسته دوم و کارکرده در سایت عرضه نمی گردد.

							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۱۲. برنده حراج بر چه مبنایی اعلام می شود؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								کاربری که آخرین پیشنهاد را قبل از اتمام زمان حراجی ثبت کرده است، برنده حراجی می باشد.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۱۳.	آیا کالاهایی که نیاز به نصب و راه اندازی دارند توسط یونی بید در هنگام تحویل نصب و راه اندازی می‌شوند؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								باز کردن جعبه و نصب کالاهای الکترونیکی و الکتریکی (مانند تلویزیون، یخچال، ماشین لباسشویی و نظیر آن) تنها باید توسط نصاب مجاز انجام شود. برای این منظور پس از دریافت کالا و قبل از باز کردن درب جعبه با شرکت یا نمایندگی مجاز آن تماس بگیرید. در غیر این صورت امکان استفاده از هرگونه گارانتی یا خدمات پس از فروش از بین خواهد رفت. توجه داشته باشید که ماموران تحویل سفارش یونی بید تنها وظیفه دارند سفارش را به مشتری تحویل بدهند و نصب کالا در حیطه تخصص آنها نیست.

							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۱۴. آیا پرداخت اینترنتی وجه سفارش در سایت یونی بید امن است؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								پرداخت اینترنتی شما در درگاه اینترنتی شبکه بانکی به صورت کاملا امن و راحت صورت می گیرد. با این وجود شما نه تنها برای خرید از یونی بید که هنگام هرگونه پرداخت اینترنتی برای اطمینان از امنیت پرداخت خود نکته‏‌های زیر را رعایت فرمایید :
								<br>
								- با مشاهده قسمت آدرس (Address Bar)، در مرورگر (Browser) وب خود مطمئن شوید از پروتکل امن https  به جای پروتکل http استفاده می‏‌شود به عبارت دیگر باید در ابتدای آدرس، https  وجود داشته باشد.
								<br>
								-	قبل از ورود اطلاعات از وجود قفل طلائی رنگ در قسمت بالا و سمت راست صفحه مرورگر وب خود مطمئن شوید، در صورت عدم مشاهده این قفل از وارد کردن اطلاعات کارت خود خودداری کنید.
								<br>
								-	برای ورود اطلاعات کارت خود حتماً از صفحه کلید مجازی موجود استفاده کنید.
								</p>

							</p>


						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۱۵. اگر کالای ارسال شده با آنچه سفارش داده‌‏ام و یا آنچه در سایت دیده ام مغایرت داشت، چه اقدامی باید انجام دهم؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								معمولا چنین اتفاقی به ندرت ممکن است رخ دهد ولی در صورت بروز آن می توانید با واحد پشتیبانی تماس حاصل نمایید
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۱۶. 	اگر کالای تحویل گرفته شده معیوب باشد (در هنگام ارسال صدمه دیده باشد) چه می توان کرد؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								یونی بید همواره نهایت تلاش خود را می‏‌کند تا کلیه سفارش‏‌ها در نهایت صحت و بدون آسیب به دست مشتریان خود در سراسر کشور برسد. با توجه به بسته بندی ایمن و استاندارد همه مرسولات و ارسال از طریق شرکت‌‏های حمل و نقل معتبر، بروز هر گونه حادثه در هنگام حمل و تحویل بر عهده شرکت حمل و نقل است. آسیب‏‌های ناشی از حمل و نقل باید حداکثر ظرف ۲۴ ساعت پس از تحویل سفارش، از طرف دریافت کننده مرسوله به واحد پشتیبانی یونی بید (به نشانی مندرج در صفحه ارتباط با ما) اطلاع داده شود و کالای آسیب دیده به همراه صورت جلسه رسمی شرکت حمل کننده و کلیه متعلقات و فاکتور به خدمات پس از فروش یونی بید ارسال شود.

							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۱۷. هزینه ارسال سفارش چگونه محاسبه می‌شود؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								هزینه ارسال سفارش در خارج از تهران بر اساس تعرفه های رسمی شرکت پست محاسبه شده و بر عهده خریدار و برنده حراج می باشد.
							</p>
						</div>

						</main>

			</div>
		</div>
		<!-- End Content Single -->
	</div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
</script>
{% endblock scripts %}
