{% extends 'site/layout.html' %}
{% block title %} راهنمایی {% endblock %}
{% block content %}
<div class="content-page">
	<div class="container">
		<div class="bread-crumb radius">
			<a href="/">خانه</a> <span>راهنمایی استفاده از سایت</span>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-single single-fullwidth">
			<div class="main-single pr-0">
				<h2 class="title-single">نحوه استفاده از سایت</h2>
				<main class="FAQ">
						<p>
							یونی بید به عنوان حراجی آنلاین تلاش می نماید که هیجان رقابت در یک خرید شگفت انگیز را با شرکت کاربران در مزایده آنلاین فراهم آورد. در واقع خریداران با شرکت در حراجی های یونی بید بعد از تجربه یک رقابت هیجان انگیز در صورت برنده شدن، با تخفیفی استثنائی از فروشگاه یونی بید خرید می نمایند و در صورتی که در رقابت مزایده موفق نباشند، می توانند از تخفیف ویژه استفاده نمایند و یک تخفیف ویژه از یونی بید دریافت می نمایند.
						</p>
						<div class="topic">
							<div class="open">
							<h2 class="question">۱. ثبت نام در سایت</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								- ثبت نام  در سایت یونی بید دارای دو مرحله است. شما می توانید با کلیک بر روی گزینه ثبت نام در بالای سایت این مراحل را آغاز نمایید.
								<br>
								- در مرحله اول مشخصات کلی همانند نام کاربری، شماره موبایل و رمز عبور از شما دریافت می گردد. با توجه به عدم امکان تغییر شماره موبایل و نام کاربری در انتخاب آن دقت نمایید. لطفا قبل از این مرحله قوانین و مقررات سایت را مطالعه کنید.
								<br>
								- در مرحله دوم یک پیامک حاوی کد فعالسازی برای شما ارسال می شود. با وارد نمودن این کد مراحل ثبت نام اولیه شما تکمیل و حساب کاربری شما فعال می گردد. بعد از این مرحله شما می توانید وارد سایت شوید.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۲. ورود به حساب کاربری و تکمیل اطلاعات </h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								- جهت واقعی سازی کاربران، بعد از ثبت نام اولیه ده روز برای تکمیل اطلاعات فردی مهلت دارید.
								<br>
								- در صورت داشتن معرف با وارد نمودن کد معرف کیف پول شما شارژ می گردد. لینک وارد نمودن کد معرف تا ۲۴ ساعت از زمان ثبت نام برای شما فعال است.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۳. توجه به زمان برگزاری مزایده ها در تالار مزایده ها</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								- شما می توانید با فعال نمودن "یادآوری زمان شروع" در صفحه مزایده نیم ساعت قبل از آغاز حراجی پیام یادآوری دریافت نمایید.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۴. تامین بید مورد نیاز برای شرکت در مزایده</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								- با مراجعه به قسمت حراجی ها و کلیک بر روی کالا می توانید در قسمت خرید بید در پنل کاربری و خرید بسته بید مورد نظر، آماده شرکت در حراجی شوید. در این بخش سه بسته وجود دارد که باید یکی از آن ها را خریداری کنید :
								<br>
								  *	بسته طلایی
								<br>
								  *	بسته نقره ای
								<br>
								  *	بسته برنزی
								<br>
								هر کدام از این بسته ها با توجه به حراجی مورد نظر، سه بسته را پیشنهاد می دهند که دارای بیدهای متفاوتی می باشد.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۵. ضرایب پیشنهاد (X) چیست</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								هدف از تعریف ضرایب پیشنهاد، جلوگیری از طولانی شدن زمان حراج در کالاهای با قیمت بالا می باشد. ضریب پیشنهاد را با یک مثال توضیح می دهیم. به عنوان مثال اگر ضریب یک پیشنهاد X5 است به این معنا است که با هر کلیک روی دکمه پیشنهاد در زمان حراج، ۵۰۰۰ تومان به مبلغ قبلی اضافه می شود و با کلیک نفر بعدی رو دکمه پیشنهاد ۵۰۰۰ تومان دیگر نیز اضافه خواهد شد تا در نهایت برنده حراجی مشخص شود. اعدادی که در کنار دکمه پیشنهاد به صورت 1xو 2x و3x و.... نوشته شده است میزان اضافه شدن به قیمت پایه حراجی پس از هر کلیک را نشان می دهد. به این معنا که اگر ضریب کالا 1x باشد، با هر ثبت پیشنهاد جدید ۱۰۰۰ تومان به قیمت قبلی کالا اضافه می گردد و در صورتی که ضریب کالا 2x باشد با هر بار پیشنهاد دادن ۲۰۰۰ تومان به قیمت کالا اضافه می گردد و این روند برای ضرایب بالاتر به همین منوال می باشد. قابل ذکر است که با همین ضرایب از تعداد پیشنهادی های باقی مانده شما کسر می گردد.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۶. کلیک بر روی کلید پیشنهاد</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								- با کلیلک بر روی پیشنهاد، قیمت پایه به میزان مشخص شده در اطلاعات حراجی بالا رفته و از بیدهای شما به میزان مشخص شده کسر می گردد. همزمان قیمت شگفت انگیز برای شما بر مبنای ارزش واقعی بید مصرفی کاهش می یابد(فرصت پیشنهاد دادن برای کاربران بعد از هر پیشنهاد ۱۰ ثانیه می باشد) در صورت عدم پیشنهاد در ۱۰  ثانیه توسط کاربران دیگر، کاربری که آخرین پیشنهاد را ثبت کرده برنده مزایده می باشد.
								درصورتی که کاربر برنده حراجی باشد:
								<br>
								- وارد  "حراجی های من" در پنل کاربری خود شوید.
								<br>
								- با کلیک بر روی  دریافت کد تخفیف در مزایده مورد نظر،کد تخفیف مزایده برنده شده را دریافت نموده و کپی نمایید. (شما تا ۷۲ ساعت بعد از پایان حراجی جهت دریافت کد تخفیف فرصت دارید) 
								<br>
								- وارد فروشگاه آنلاین یونی بید شوید و مراحل خرید کالای مورد نظر را آغاز نمایید.
								<br>
								- با وارد نمودن کد تخفیف در زمان خرید محصول قیمت برای شما مطابق با قیمت نهایی حراجی تغییر می کند.
								<br>
								- اطلاعات ارسال را تکمیل و مبلغ فاکتور را پرداخت نمایید.
							</p>
						</div>


				</main>
			</div>
		</div>
		<!-- End Content Single -->
	</div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script>

</script>
{% endblock scripts %}
