{% extends 'site/layout.html' %}
{% block title %} راهنمای شرکت در حراجی {% endblock %}
{% block content %}
<div class="content-page">
	<div class="container">
		<div class="bread-crumb radius">
			<a href="/">خانه</a> <span>راهنمای شرکت در حراجی</span>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-single single-fullwidth">
			<div class="main-single pr-0">
				<h2 class="title-single">راهنمای شرکت در حراجی</h2>
				<p class="desc post-intro">
					یونی بید به عنوان حراجی آنلاین تلاش می نماید که هیجان رقابت در یک خرید شگفت انگیز را با شرکت کاربران در مزایده آنلاین فراهم آورد. در واقع خریداران با شرکت در حراجی های یونی بید بعد از تجربه یک رقابت هیجان انگیز در صورت برنده شدن، با تخفیفی استثنائی از فروشگاه یونی بید خرید می نمایند و در صورتی که در رقابت در حراجی موفق نباشند، می توانند محصول مورد نظر را با تخفیفی ویژه خریداری نمایند. در ادامه به مراحل شرکت در حراجی و نحوه ثبت نام اشاره می کنیم. 
				</p>
			</div>

			<div class="main-single pr-0">
				<h3 class="title-single">۱- ثبت نام در سایت</h3>
				<p class="desc">
					برای ثبت نام در وبسایت ابتدا بایستی وارد بخش ثبت نام در گوشه سمت راست بالای صفحه شوید.
					<br>
					<br>
					<img src="/static/images/help/1.jpeg">
					<br>
					<br>
					پس از این مرحله بایستی اطلاعات مربوط به حساب کاربری شامل شماره همراه، نام کاربری و رمز ورود را وارد کنید. و دکمه ثبت نام را فشار دهید.
					<br>
					<br>
					<img src="/static/images/help/2.jpeg">
					<br>
					<br>
					پس از تکمیل فرم ثبت نام سایت جهت فعال سازی حساب کاربری خود به صفحه فعال سازی هدایت خواهید شد.
					<br>
					<br>
					<img src="/static/images/help/3.jpeg">
					<br>
					<br>
					پس از فعال سازی به صفحه پروفایل هدایت خواهید شد که دراین قسمت می توانید اطلاعات تکمیلی پروفایل خود را وارد کنید.
					<br>
					<br>
					<img src="/static/images/help/4.jpeg">
					<br>
					<br>
					برای ورود به سایت نیز پس از ثبت نام می توانید از گزینه ورود به سایت استفاده کنید.
					<br>
					<br>
					<img src="/static/images/help/5.jpeg">
					</p>
					</p>
			</div>
			<div class="main-single pr-0">
				<h3 class="title-single">۲- شرکت در حراجی</h3>
				<p class="desc">
					برای شرکت در حراجی مورد نظر خود کافیست در صفحه خانه بر روی کلید ثبت نام در حراجی کلیک کرده و وارد بخش انتخاب بسته شوید.
					<br>
					<br>
					<img src="/static/images/help/6.jpeg">
					<br>
					<br>
					</p>
			</div>
			<div class="main-single pr-0">
				<h3 class="title-single">۳ - انتخاب بسته پیشنهادی</h3>
				<p class="desc">
					در این بخش سه بسته وجود دارد که باید یکی از آن ها را خریداری بکنیم:
					<br>
						*	بسته طلایی
						<br>
						*	بسته نقره ای
						<br>
						*	بسته برنزی
						<br>
						هر کدام از این بسته ها با توجه به حراجی مورد نظر، سه بسته را پیشنهاد می دهند که دارای تعداد پیشنهادهای متفاوتی می باشد.
						<br>
						**	ضرایب پیشنهاد (X) چیست ؟
						<br>
						هدف از تعریف ضرایب پیشنهاد، جلوگیری از طولانی شدن زمان حراج در کالاهای با قیمت بالا می باشد. ضریب پیشنهاد را با یک مثال توضیح می دهیم. به عنوان مثال اگر ضریب یک پیشنهاد X5 است به این معنا است که با هر کلیک روی دکمه پیشنهاد در زمان حراج، ۵۰۰۰ تومان به مبلغ قبلی اضافه می شود و با کلیک نفر بعدی رو دکمه پیشنهاد ۵۰۰۰ تومان دیگر نیز اضافه خواهد شد تا در نهایت برنده حراجی مشخص شود. اعدادی که در کنار دکمه پیشنهاد به صورت 1xو 2x و3x و.... نوشته شده است به این معناست که این اعداد میزان اضافه شدن به قیمت پایه حراجی پس از هر کلیک را نشان می دهد. به این معنا که اگر ضریب کالا 1x باشد، با هر ثبت پیشنهاد جدید ۱۰۰۰ تومان به قیمت قبلی کالا اضافه می گردد و در صورتی که ضریب کالا 2x باشد با هر بار پیشنهاد دادن ۲۰۰۰ تومان به قیمت کالا اضافه می گردد و این روند برای ضرایب بالاتر به همین منوال می باشد. قابل ذکر است که با همین ضرایب از تعداد پیشنهادی های باقی مانده شما کسر می گردد.
					</p>
			</div>
			<div class="main-single pr-0">
				<h3 class="title-single">۴ -  پرداخت</h3>
				<p class="desc">
					در صورتیکه قبلا کیف پول الکترونیکی خود را شارژ کرده باشید میتوانید با استفاده از اعتبار خود در حراجی شرکت کنید. بنابراین کافیست گزینه <b> پرداخت از طریق کیف پول </b>را انتخاب کنید. درغیر اینصورت بایستی گزینه<b> پرداخت آنلاین </b>را انتخاب کرده و بر روی <b> تایید نهایی پرداخت </b>کلیک کرده و وارد صفحه پرداخت بانک شوید.
					<br>
					<br>
					<img src="/static/images/help/7.jpeg">
					<br>
					<br>
					با انتخاب گزینه <b> تایید نهایی پرداخت و هدایت به درگاه بانک </b>به صفحه پرداخت اینترنتی هدایت می شوید.
					<br>
					<br>
					<img src="/static/images/help/8.jpeg">
					<br>
					<br>
					هنگام پرداخت به نام شرکت <b> یونی بید </b>توجه کنید. در مرحله آخر کافیست بر روی <b> پرداخت مبلغ  </b>خرید کلیک کنید.
					<br>
					<br>
					<img src="/static/images/help/9.jpeg">
					<br>
					<br>
					پس از این مرحله به صفحه مربوط به حراجی منتقل می شوید.
					</p>
			</div>
			<div class="main-single pr-0">
				<h3 class="title-single">۵- پیشنهاد در حراجی</h3>
				<p class="desc">
					با کلیک بر روی پیشنهاد، قیمت پایه به میزان مشخص شده در اطلاعات حراجی بالا رفته و از پیشنهادهای شما به میزان مشخص شده کسر می گردد. تا یک دقیقه قبل از آغاز حراجی میتوانید قیمت پایه را افزایش دهید. همزمان قیمت شگفت انگیز برای شما بر مبنای ارزش واقعی بید مصرفی کاهش می یابد. ( فرصت پیشنهاد دادن برای کاربران بعد از هر پیشنهاد ۱۰ ثانیه می باشد.)
					<!-- <br> -->
					<!-- <br>
					<img src="/static/images/help/9.jpg">
					<br> -->
					<br>
					درصورتی که کاربر برنده حراجی شود بایستی ما به التفاوت قیمت برنده حراجی و هزینه شرکت در حراجی را پرداخت کند تا کالای مورد نظر خود را در اسرع وقت تحویل بگیرد.
						کاربرانی که موفق به برنده شدن در حراجی نشده اند میتوانند از کد تخفیف یونی بید برای خریداری همان کالا استفاده کنند.
				 </p>
			</div>

		</div>
		<!-- End Content Single -->
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
</script>
{% endblock scripts %}
