<html>
<body>
	<font color="#000000" face="Tahoma, Verdana, Geneva, sans-serif">
		<table dir="rtl" align="center" cellpadding="0" cellspacing="0" style="direction:rtl;background-color:white;" width="400">
			<tbody>
				<tr>
					<td style="width:700px;vertical-align:top;" valign="top">
						<a rel="nofollow" target="_blank" href="https://unibid.ir" title="یونی بید">
							<img alt="یونی بید" height="50" src="https://unibid.ir/static/images/theme/logo.png" style="border:0px;vertical-align:top;" width="200"></a>
							<table cellspacing="0" cellpadding="40" width="700" style="background-color:#F1F1F1;vertical-align:top;border:1px;border-color:#E2E2E2;border-style:solid;width:700px;">
								<tbody>
									<tr>
										<td style="width:700px;vertical-align:top;" valign="top">
											<p align="right" style="font-size:14px;line-height:175%;">
												فعال سازی حساب کاربری یونی بید
											</p>
										</td>
									</tr>
									<tr>
										<td style="width:700px;vertical-align:top;" valign="top">
											<p align="right" style="font-size:12px;line-height:175%;">
												کاربر گرامی  :
											</p>
											<p align="right" style="font-size:11px;line-height:175%;">
												با سلام و احترام
											</p>
											<p style="font-size:12px;text-align:justify;line-height:175%;">
												با کد فعال سازی زیر می توانید حساب کاربری خود را فعال کنید.
											</p>
										</td>
									</tr>
									<tr>
										<td>
											کد فعال سازی : {{activation_code}}
											<!-- <p>همچنین با کلیک بر روی لینک زیر نیز می توانید نسبت به فعال سازی حساب کاربری خود اقدام کنید.<br>
												<a rel="nofollow" target="_blank" href="https://unibid.ir/activate/{{activation_token}}/{{activation_code}}">فعال سازی حساب کاربری من </a>
											</p> -->
											<p align="right" style="font-size:11px;line-height:175%;direction:rtl;">
												با تشکر از حسن انتخاب شما
												<br>
													تیم پشتیبانی یونی بید
													<br>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</font>
		</body>
</html>
