{% extends 'site/layout.html' %}
{% block title %} قوانین و مقررات {% endblock %}
{% block content %}
<div class="content-page">
	<div class="container">
		<div class="bread-crumb radius">
			<a href="/">خانه</a> <span>قوانین و مقررات</span>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-single single-fullwidth">
			<div class="main-single pr-0">
				<h2 class="title-single">قوانین و مقررات یونی بید </h2>
				<main class="FAQ">
						<input type="text" class="live-search-box" placeholder="جستجوی عبارت مورد نظر..." />
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۱.	شرایط و قوانین استفاده از سرویس ها و خدمات یونی بید
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								کاربر گرامی توافق نامه ای که پیش روی شماست، بین وب سایت یونی بید و كاربران محترم سایت منعقد می گردد كه هدف از آن ایجاد محیطی امن و جذاب است تا كاربران محترم بتوانند با استفاده از امكانات این سایت اقدام به خرید اینترنتی از برترین برندهای خارجی و داخلی نمایند. لذا به منظور ایجاد هیجان با رقابتی سالم، فرصتی استثنایی را برای خریداران محترم فراهم نمودیم تا با شرکت در مزایده ها از تخفیف ویژه بهره مند شوند و خریدی خاطره انگیز و متفاوت از سایت یونی بید داشته باشند.
								<br>
								این توافق نامه در حین ثبت نام کاربر در سایت و هر زمانی که از امکانات سایت استفاده می نماید، معتبر خواهد بود. لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق های قبلی محسوب می شود، در ضمن کاربر با عضویت در سایت معترف خواهد بود که عاقلا و عامدا و با آگاهی کامل و مطالعه راهنمای سایت، شرایط سایت را پذیرفته و خود را از هر گونه حق اعتراض بعدی مبرا می نماید.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۲.	قوانین عمومی
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								توجه داشته باشید کلیه اصول و رویه های یونی بید منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه ها و سرویس های یونی بید تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۳. تعریف خریدار یا کاربر
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								خریدار یا کاربر به شخصی گفته می شود که با اطلاعات کاربری خود که در فرم ثبت نام درج کرده است، به ثبت سفارش یا هرگونه استفاده از خدمات یونی بید اقدام کند.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۴. تعریف واژگان
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								•	مشتری یا کاربر
								<br>
								مشتری یا کاربر به شخصی گفته می‌شود که با اطلاعات کاربری خود که در فرم ثبت نام درج کرده، به شرکت در حراجی، خرید از محصولات فروشگاه یا هرگونه استفاده از خدمات یونی بید اقدام کند .
								<br>
								•	کوپن تخفیف
								<br>
								کوپن تخفیف به معنای اعتباری است که کاربر پس از ثبت نام در "خرید هیجان انگیز" از یونی بید دریافت می کند. این اعتبار از پایان زمان حراج یک کالا به مدت یک هفته برای خرید همان کالا از فروشگاه یونی بید قابل استفاده می باشد.
								<br>
								•	حراج
								<br>
								حراج در یونی بید به معنای روندی است که در آن یک کالا با تخفیف ٪۱۰ تا ٪۹۰ نسبت به قیمت بازار از طریق وب سایت و اپلیکیشن های یونی بید  برای کاربرانی که در خرید هیجان انگیز شرکت کرده اند عرضه می گردد و قیمت نهایی آن توسط کاربران شرکت کننده در حراجی تعیین شده و کالای مورد نظر به آخرین نفری که بالاترین قیمت پیشنهادی را ثبت کرده است فروخته می شود.
								<br>
								•	قیمت (بازار)
								<br>
								قیمت در سایت یونی بید به معنای حدود قیمت خرده فروشی کالا در بازار تهران است که توسط یونی بید به ازای هر کالا در هر روز تعیین می شود.
								<br>
								•	پیشنهاد
								<br>
								پیشنهاد در یونی بید در زمان حراجی کاربرد دارد و هر پیشنهاد به معنای اضافه شدن یک مبلغ مشخص به قیمت قبلی (پایه) کالا در حراجی است. کاربر با هر بار کلیک کردن بر روی دکمه پیشنهاد (در حین زمان برگزاری حراج) مبلغ مشخصی (که معادل ۱۰۰۰*ضریب حراجی است) به قیمت کالا در حراجی اضافه می کند و به تعداد مشخصی (معادل ضریب حراجی) از تعداد پیشنهادهای باقی مانده او کسر می گردد.
								<br>
								•	بسته های خرید هیجان انگیز
								<br>
								برای ثبت نام در خرید هیجان انگیز هر کالا یا خدمات سه بسته مجزای برنزی، نقره ای و طلایی با قیمت های متفاوت وجود دارد و هر کاربر به منظور شرکت در خرید هیجان انگیز می بایست یکی از بسته های فوق را، انتخاب و خریداری نماید. بدیهی است قیمت بالاتر بسته های پیشنهادی (به ترتیب طلا، نقره و برنز) به معنای تعداد دریافت کوپن تخفیف بیشتر (مبلغ بالاتر) و امکان ارائه پیشنهادات بیشتر در زمان برگزاری حراجی برای کاربر می باشد. توجه نمایید که ممکن است تعداد بسته های پیشنهادی در بعضی از کالاها کمتر از ۳ بسته (طلایی، نقره ای یا برنزی) باشد که در زمان خرید بسته کاملا مشخص است.
								<br>
								•	شرکت کننده (در حراجی)
								<br>
								به کاربرانی که برای شرکت در یک خرید هیجان انگیز اقدام به خرید "بسته" از طریق انتخاب یکی از بسته های پیشنهادی (طلایی ، نقره ای یا برنزی) نموده اند و ضمن دریافت کوپن تخفیف، بلیط حضور در حراجی را دریافت کرده اند، شرکت کننده گفته می شود.
								<br>
								•	ثبت پیشنهاد
								<br>
								ثبت پیشنهاد به معنای کلیک کردن بر روی دکمه "پیشنهاد" و ارائه یک قیمت جدید در حراجی است. بدیهی است این امکان در حین زمان حراج و تنها برای کاربران شرکت کننده می باشد. لازم به ذکر است با هر کلیک، متناسب با ضریب حراج از تعداد پیشنهادی های قابل ارائه کاربر (که در کنار دکمه پیشنهاد درج شده است) کسر می شود و به همان میزان * ۱۰۰۰ به قیمت قبلی کالا در حراج افزوده می گردد.
								<br>
								•	ضریب پیشنهاد (افزایش قیمت)
								<br>
								این اعداد میزان اضافه شدن به قیمت پایه حراجی را با هر پیشنهاد جدید نشان می دهد به عنوان مثال 1 x نشان دهنده این است که با هر بار پیشنهاد دادن ۱۰۰۰ تومان به قیمت قبلی کالا در حراج اضافه می گردد و 2 x با هر بار پیشنهاد دادن ۲۰۰۰ تومان به قیمت کالا اضافه خواهد کرد و این روند برای ضرایب بزرگتر به همین نسبت می باشد.
								<br>
								•	ظرفیت حراجی
								<br>
								به حداکثر تعداد افرادی که می توانند در هر حراجی شرکت کنند گفته می شود. این عدد برای کالاها و حراج های مختلف متفاوت است و برای هر کالا و حراج مشخص شده و نمایش داده می شود.
								<br>
								•	شروع حراجی
								<br>
								به معنای پایه قیمت کالای به حراج گذاشته شده می باشد که بین ٪۱۰  تا ٪۵۰ قیمت (بازار) آن کالا است. توضیح اینکه حراج هر کالا با این قیمت آغاز می گردد.
								<br>
								•	برنده حراجی
								<br>
								به کاربری که آخرین پیشنهاد (بالاترین قیمت) را قبل از اتمام زمان حراجی ثبت کرده، برنده حراجی گفته می شود. در هر حراجی تنها یک برنده وجود دارد. در صورتی که برنده حراجی ظرف مدت یک هفته پس از برگزاری حراجی، نسبت به واریز مبلغ مورد نظر (معادل مبلغی که در حراج برنده شده) اقدام نکند، به این معناست که او از دریافت کالا انصراف داده و بدان معنی است که آن حراج برنده ای ندارد و یونی بید هیچ گونه تعهدی در این خصوص نخواهد داشت.
								<br>
								•	شرایط شرکت در حراج
								<br>
								آن دسته از کاربرانی که مدل " خرید هیجان انگیز" را برای خرید خود انتخاب کرده و یکی از بسته های پیشنهادی (طلایی، نقره ای، برنزی یا ...) را جهت دریافت کوپن تخفیف خریداری کرده اند، به صورت هدیه می توانند در حراجی همان کالا و در زمان مشخص شده در سایت شرکت نمایند.
								<br>
								•	شرکت گروهی در حراج
								<br>
								به شرایطی که در آن بیش از ۲ نفر از شرکت کنندگان در یک حراج مشخص و به منظور افزایش شانس برد، به صورت هماهنگ و برنامه ریزی شده اقدام به ثبت پیشنهاد نمایند (به اصطلاح با یکدیگر تبانی کنند) شرکت گروهی در حراج گفته می شود. 
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۵. سیاست های قیمت گذاری
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								شروع قیمت در تمامی کالاهای به حراج گذاشته شده در یونی بید بین ۱۰ تا ۵۰ درصد قیمت (بازار) آن کالا می باشد. همچینن به منظور حفظ جذابیت در حراجی ها برای هر حراج یک سقف قیمت در نظر گرفته می شود که حداکثر مبلغی را که ممکن است برنده حراج برای خرید آن کالا پرداخت نماید مشخص می کند. قیمت شروع حراجی، قیمت بازار و سقف قیمت به ازای هر کالا از ابتدا مشخص شده و به کاربران نمایش داده می شود. 
								<br>
								در صورتی که قیمت کالای حراجی به سقف تعیین شده در حراج (که در هر حراجی تعیین می گردد) برسد، از این پس با ارسال پیشنهاد جدید از سوی شرکت کنندگان در حراجی، قیمت کالا افزایش پیدا نمی کند و شرکت کنندگان تا اتمام ظرفیت بسته پیشنهاد خود می توانند به ثبت پیشنهاد جدید و رقابت با یکدیگر ادامه دهند و آخرین پیشنهاد ثبت شده در سایت به عنوان برنده حراجی اعلام می شود.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۶. شرایط عمومی عضویت
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								• تبصره ۱ : کلیه کاربران جهت استفاده از خدمات سایت می‌بایست به عضویت سایت درآیند.
								<br>
								• تبصره ۲ : در مورد اشخاص حقیقی، طبق قوانین مدنی و تجاری ایران, تنها اشخاص بالای 18 سال که مقیم ایران باشند می‌توانند به عضویت یونی بید درآمده و از خدمات سایت استفاده كنند.
								<br>
								• تبصره ۳ : اشخاص حقوقی که در دفاتر ثبت شرکت‌ها و موسسات غیرتجاری جمهوری اسلامی ایران به ثبت رسیده باشند نیز می‌توانند عضو این سایت شده و از خدمات سایت استفاده نمایند.
								<br>
								• تبصره ۴ : کلیه كاربران مسئول حفظ و نگهداری از نام كاربری و رمز عبور و اطلاعات شخصی خود می باشند و سایت هیچ مسئولیتی در قبال از دست رفتن اطلاعات در خارج از محدوده ی سایت ندارد.
								<br>
								• تبصره ۵ : در حین عضویت اطلاعاتی نظیر نام،‌ نام خانوادگی، ‌شماره تلفن تماس، آدرس پست الكترونیكی، آدرس و کدپستی محل ارسال و دریافت کالا و برخی مشخصات فردی و بانکی دیگر از شما درخواست می شود. كه می بایست این اطلاعات را به درستی و با صحت کامل در سایت وارد نمایید. در صورت وجود خطا یا تغییر در این اطلاعات کاربر موظف به، بروزرسانی آن ها می باشد. مسئولیت حقوقی و قانونی هرگونه جعل عنوان یا عدم صحت اطلاعات فردی یا سوء استفاده از مشخصات دیگران بر عهده ی شخص کاربر می باشد.
								<br>
								• تبصره ۶ : درسایت یونی بید هر شخص حقیقی یا حقوقی ملزم به داشتن یک حساب کاربری می باشد و ایجاد حساب های کاربری مختلف برای هر شخص حقیقی و حقوقی تخلف محسوب می شود. کاربر حق فروش و انتقال نام کاربری خود و استفاده از نام کاربری دیگران را نداشته و در صورت اثبات هریک از این موارد، سایت بدون اجازه کاربر حق ابطال حساب کاربری ایشان را خواهد داشت.
								<br>
								• تبصره ۷ : سایت یونی بید مجاز است به صورت مستقیم یا غیرمستقیم اطلاعاتی را که برای تأیید هویت كاربر ضروری بوده کسب نماید. پرسش از خود كاربر برای دریافت اطلاعات تکمیلی، درخواست تأیید پست الکترونیکی، ارسال پیامک کد فعال سازی، برخی از مصادیق این امر تلقی می‌شوند.
								<br>
								• تبصره ۸ : کلیه کاربران اعم از خریداران و سایر اعضای سایت می بایست با قبول و تایید توافقنامه حاضر موافقت خود با قوانین سایت را اعلام نموده و درصورت تغییر بندهای توافق نامه، نیازی به تایید مجدد کاربران نمی باشد.
								<br>
								• تبصره ۹ : یونی بید اطلاعات دریافت شده از اعضا خود را فقط در امور مرتبط معاملاتی استفاده نموده و به هیچ وجه در اختیار سایرین قرار نخواهد داد. همچنین در صورت نیاز به انجام مقاصد تجاری با کسب اجازه از کاربر نسبت به بهره برداری از این اطلاعات، اقدام خواهد نمود.
								<br>
								• تبصره ۱۰ : حفاظت از اطلاعات شخصی كاربران برای این سایت بسیار حائز اهمیت می باشد. جهت اطلاع از اقداماتی كه برای محرمانه ماندن اطلاعات کاربران صورت می گیرد، می توانید حفظ حریم شخصی را که لینک آن در زیر کلیه صفحات سایت موجود است مطالعه فرمایید.
								<br>
								• تبصره ۱۱: در صورتی که کاربر، عملی خارج از قوانین و مقررات تعیین شده انجام دهد، سایت مجاز خواهد بود بدون اخطار پیشین عضویت کاربر را به حالت تعلیق در آورده و یا آن را ابطال نماید و طبق قوانین و مقررات با ایشان برخورد خواهد شد. کاربر با قبول این توافق نامه موافقت خود را مبنی بر ایفای تعهدات مندرج در قوانین و مقررات و قبول تمامی مطالب درج شده در راهنما اعلام می دارد.
								<br>
								• تبصره ۱۲ : با قبول این توافق نامه، یونی بید مجاز است تا در صورت وقوع هر گونه تبانی و تقلب، یا کشف احتمال تبانی، تقلب و کلاهبرداری، عضویت کاربر را معلق و یا ابطال نماید و کاربر حق هیچگونه اعتراضی در این خصوص ندارد.
								<br>
								• تبصره ۱۳ : كاربر در مقابل كلیه مكاتباتی كه سایت با وی از طریق پست الكترونیكی یا پیامك و یا از طریق حساب كاربری وی در سایت انجام می شود مسئول خواهد بود و مصداق سند مکتوب در نظر گرفته خواهد شد. سایت پس از گذشت 48 ساعت از آخرین ارتباط خود با کاربر آن را مشاهده شده تلقی نموده و می تواند در مورد وی تصمیم گیری كند.
								<br>
								• تبصره ۱۴ : ارتباط با کلیه بخش های سایت از طریق "تماس با ما" برقرار می‌گردد. ضمنا در مواقع ضروری سایت از طریق شماره تلفن هر كاربر با وی ارتباط برقرار می نماید.
								<br>
								• تبصره ۱۵: در صورتی كه دسترسی كاربر به سایت در هر شرایطی حتی شرایط خاص و غیر قابل پیش بینی امكان پذیر نباشد، سایت مسئولیتی در قبال زیان های احتمالی وارد شده نخواهد داشت.
								<br>
								• تبصره ۱۶ : آدرس و یا حساب بانکی که کاربران در حساب کاربری خود درج می نمایند، به عنوان محل ارسال کالا و یا حساب معرفی شده جهت واریز وجه مورد استفاده قرار می‌گیرد و مسئولیت هرگونه اشتباه در آدرس دهی برای ارسال کالا بر عهده ی شخص کاربر می‌باشد.
								<br>
								• تبصره ۱۷ : سایت برای اطلاع رسانی کاربران به مناسبت‌های گوناگون از جمله بروز مشکل و اختلاف در روند معامله، طرف ذی ربط را از طریق پست الکترونیکی، پیامک و پنل کاربری مطلع خواهد کرد. سایت تضمینی برای دریافت پیامک ارسالی به کاربران نمی‌دهد و کاربران موظفند پس از اقدام به خرید یک کالا پست الکترونیکی و حساب کاربری خود در سایت را به صورت منظم و تا حداکثر زمان محتمل برای بروز مشکلات بازدید و کنترل نمایند.
								<br>
								• تبصره ۱۸ : کاربران موظفند از انجام هر گونه عملی در سایت یا مطلب گذاری در سایر رسانه ها که منجر به نزول کیفیت خدمات، اطلاع رسانی و رابط کاربری سایت و نیز ممانعت از فعالیت‌های تجاری سایر کاربران نظیر اسپم کردن سایت از کالاهای دروغین و گمراه کننده به مقاصد مختلف از قبیل کنترل قیمت بازار و یا تبلیغات، پرهیز نمایند.
								<br>
								• تبصره ۱۹ : مطابق ماده 21 قانون جرایم رایانه ای، کاربر مجاز به استفاده از نام کاربری، عکس، سخن و کلمات توهین آمیز و غیراخلاقی و مغایر با شئونات مذهبی، فرهنگی و اجتماعی وفق مصادیق محتوای مجرمانه در قانون در سایت و شبکه های اجتماعی متعلق به سایت نمی باشد. در صورت مشاهده سایت مجاز است تا علاوه بر حذف کاربر نسبت به احقاق حق خود پیگیری های قانونی را به انجام رساند و تا تعیین تکلیف وضعیت پنل کاربری وی غیر فعال خواهد شد.
								<br>
								• تبصره ۲۰ : همچنین كاربر در مکاتبه، مکالمه و اظهار نظر در مورد سایر کاربران و مسولین سایت موظف به رعایت کمال ادب و احترام است.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۷. شرایط ارسال کالا
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								• تبصره ۲۱ : خریدار محترم می بایست نسبت به بررسی دقیق و انتخاب کالا در خرید مستقیم دقت کافی داشته باشد و در زمان تحویل کالا نسبت به صحت و سلامت کالای تحویلی، تاییدیه لازم را اعلام نمایند و در صورت عدم رضایت از کالای تحویلی، کالا را تحویل نگیرند (در صورت عدم تحویل کالا به دلایل غیر موجه هزینه پست از مبلغ واریزی کسر و مابقی به حساب خریدار واریز خواهد شد).
								<br>
								• تبصره ۲۲ : در صورت شرکت در مزایده، طبق ضوابط برگشت اعتبار در مزایده اعمال خواهد شد.
								<br>
								• تبصره ۲۳ : در صورت منطقی بودن علت عدم دریافت کالا (از قبیل مغایرت کالای خریداری شده و کالای تحویلی، شکستگی یا وجود نقصان یا هر گونه ایراد ظاهری)، خریدار موظف به اعلام شکایت در سایت می باشد و در صورت تایید شکایت مبلغ کسر شده نیز به حساب ایشان واریز یا در صورت موجود بودن کالای خریداری شده، برای ایشان ارسال خواهد شد.
								<br>
								• تبصره ۲۴ : کالا به آدرس ثبت شده، خریدار در سایت ارسال خواهد شد. چنانچه در هنگام تکمیل فرم سفارش، آدرس جدیدی قید نشده باشد، آدرسی که خریدار در سایت عنوان نموده، به عنوان محل تحویل در نظر گرفته خواهد شد.
								<br>
								• تبصره ۲۵ : کاربر موظف است پس از برنده شدن در مزایده تا 72 ساعت پس از اتمام مزایده از قسمت مزایده های من اقدام به دریافت کد تخفیف و خرید از فروشگاه نماید.
								<br>
								• تبصره ۲۶ : خریدار موظف است در زمان خرید نسبت به گستره جغرافیای تحویل کالا و سایر شرایط فروش کالا دقت کافی داشته باشد.
								<br>
								• تبصره ۲۷ : احراز شرایط تحویل کالا توسط خریدار به یکی از طرق ذیل می باشد:
								<br>
								بند۱. تایید تحویل توسط خریدار در سایت و یا از طریق اپلیکیشن موبایل.
								<br>
								بند۲. از طریق دریافت امضای فیزیکی هنگام تحویل
								<br>
								• تبصره ۲۸: در صورت پذیرش کالا و امضاء برگه ی تحویل کالا، اعتراضات خریدار فقط در سایت ثبت و سایت بررسی لازم را انجام خواهد داد اما ثبت اعتراض منوط به حق به جانب بودن خریدار محترم نخواهد بود.
								<br>
								• تبصره ۲۹ : چنانچه خریدار در زمان تحویل کالا در مکان مورد نظر حضور نداشته و شخص دیگری، کالا را تحویل بگیرد و رسید تحویل را امضا نماید (چه از طریق دست خط و یا به صورت الکترونیک که توسط شرکت پست اعلام می شود) به منزله تحویل گرفتن کالا توسط خریدار تلقی خواهد شد.
								<br>
								• تبصره ۳۰ : خریدار می بایست نسبت به تحویل هر قلم کالا به صورت جدا برگه تحویل امضا نماید و به دلیل تفاوت در شیوه ارسال هر نوع کالا امکان تحویل در زمان‌های مختلف برای هر کالا وجود خواهد داشت. بنابراین در زمان سفارش چندین قلم کالا ممکن است کلیه اقلام سفارشی همزمان تحویل نگردد. در این مواقع خریدار موظف به تحویل گرفتن اقلام ارسالی بوده و تا حداکثر زمان تحویل سایر اقلام منتظر بماند.

							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۸. قوانین جاری کشور
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								تخلف از قوانین جاری کشور من جمله قانون مجازات مرتکبین جرایم رایانه‌ای، بانکی، پولشویی، قوانین گمرکی و سوء استفاده از خدمات سایت برای كاربران و نقض حریم شخصی كاربران دیگر و فعالیت های هرمی و سایر جرایم ممنوع می‌باشد.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۹. ارتباط سایر بخش های سایت
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								بخش های راهنمایی، درباره ما و قسمتهای دیگر موجود در سایت به عنوان بخشهای راهنما و راههای تماس با ما می باشد و همچنین خود به تنهایی در برگیرنده بخشی از شرایط و ضوابط سایت می باشند.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۱۰. روش پرداخت
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								خریداران می توانند با استفاده از کلیه کارت های عضو شتاب نسبت به خرید کالا های مورد نیاز خود از طریق حراجی (در صورت برنده شدن در حراجی) و یا افزایش اعتبار بیدی خود برای شرکت در حراجی و یا خرید از فروشگاه یونی بید اقدام نمایند.
								<br>
								پس از واریز وجه توسط خریدار، قسمت حسابداری سایت از وصول پرداختی شما در حساب بانک اطمینان حاصل نموده و جهت هماهنگی برای ارسال کالا برنده شده در حراجی یا خریداری شده یا اضافه کردن اعتبار بیـدی به حساب کاربری شما اقدام لازم را اجرا می نماید. چنانچه پول از حساب شما کسر گردیده، ولی به حساب سایت واریز نشده باشد، طی تماس تلفنی این موضوع به فرستنده وجه اطلاع داده خواهد شد. خریدار نهایتا پس از اطلاع از این موضوع تا 48 ساعت صبر نموده و اگر طی این مدت وجه واریزی از سوی بانک مسترد نگردید، آنگاه با پشتیبانی بانک عامل پرداخت اینترنتی تماس گرفته و نسبت به رفع مغایرت اقدام نماید.
								<br>
								• تبصره ۳۱ : برای جلوگیری از زیان‌ها و خطرات احتمالی، سایت می‌تواند شیوه‌های پرداخت یک تراکنش را محدود نماید. در چنین مواردی، كاربر می‌تواند پس از اطلاع از این محدودیت‌ها، با استفاده از شیوه‌های باقی‌مانده تراکنش را انجام دهد.
								<br>
								• تبصره  ۳۲ : همچنین خریداران می توانند بعد از برنده شدن در حراجی و یا خرید کالا از فروشگاه یونی بید با تکمیل فرم خرید و درخواست پرداخت هزینه در محل، نسبت به پرداخت هزینه کالا در محل خود اقدام نمایند.
								<br>
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۱۱. تعرفه های خدمات یونی بید
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								درج آگهی تبلیغاتی و یا قرار دادن کالا در حراجی ها یا فروشگاه با کارمزد هایی همراه است که در صفحات مربوطه قرار داده شده است.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۱۲. شرایط اختصاصی خرید از یونی بید
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								الف) شرایط خرید شگفت انگیز از یونی بید:
								<br>
								در این روش قیمت بازار هر محصول با هر بار پیشنهاد شما به روی کالا به مقدار اعتبار مصرفی شما در آن حراجی کاهش می یابد. در انتهای هر حراجی شما در صورت برنده نشدن در آن حراجی می توانید با قیمتی که به ازای هر نفر مشخص است، کالای به مزایده گذاشته شده را پس از دریافت "کدتخفیف" با قیمتی شگفت انگیز خریداری کنید (با پرداخت مابقی قیمت کالا). 
								<br>
								لازم به ذکر است به دلیل اینکه کاربران بابت دریافت "بید هدیه" هزینه ای پرداخت نمی کنند در نتیجه، خرید شگفت انگیز بر بیدهای هدیه تعلق نمی گیرد. 
								<br>
								ب) شرایط خرید کالا از طریق مزایده:
								<br>
								کاربران برنده شده در مزایده که قصد خرید کالا برنده شده در مزایده را دارند با دریافت "کدتخفیف" از قسمت "مزایده های من"  اقدام به خرید از فروشگاه سایت می نمایند. به صورتی که با وارد کردن کد تخفیف در سبد خرید کالای مورد نظر و تکمیل اطلاعات ارسال، مبلغ فاکتور (قیمت پایانی حراجی) را پرداخت نموده و کالای خود را ظرف مدت ۷۲ ساعت دریافت می کنند.  
								<br>
								در نظر داشته باشید که امکان دریافت "کد تخفیف" تنها تا ۷۲ ساعت پس از اتمام هر مزایده ممکن می باشد.
								<br>
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۱۳. قوانین حمایت از خریداران یونی بید
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								۱ - در صورت برنده شدن در مزایده، کاربر با پرداخت مبلغ قیمت آخرین پیشنهاد حراجی، کالای مورد نظر را از فروشگاه یونی بید خریداری می نماید.
								<br>
								 لازم به ذکر است کالای خریداری شده ظرف مدت ۷۲ ساعت به آدرس خریداران ارسال خواهد شد و همچنین هزینه ارسال کالا برای شهر تهران رایگان می باشد.
								<br>
								• تبصره ۳۳ : بیدهای مصرف شده توسط کاربر برنده مزایده، از صورتحساب ماهانه کاربر کسر گردیده و قابل عودت نمی باشد.
								<br>
								۲ - در صورت برنده نشدن در حراجی و تمایل به خرید کالا، کاربر می تواند با احتساب اعتبار بید های مصرفی در آن حراجی نسبت به خرید کالا با قیمت شگفت انگیز اقدام نماید.
								<br>
								• تبصره ۳۴ : هزینه برگزاری مزایده در صورتحساب همه کاربران بجز مواردی که خرید شگفت انگیز داشته اند محاسبه می گردد. 
								<br>
								توجه : هزینه برگزاری حراجی در صفحه مزایده برای اطلاع کاربران به نمایش گذاشته می شود.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۱۴. سایر قوانین یونی بید
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								سیستم حراجی در یونی بید به صورت آنلاین می باشد و اطلاعات به صورت رفت و برگشتی است و ثانیه از مهم ترین آیتم های مزایده می باشد با توجه به این مطلب:
								<br>
								•	در صورت بروز هرگونه مشكل از طرف سايت كه باعث خلل در روند حراجی شود، سايت یونی بید حق دارد حراجی را متوقف و در زمان مناسب برگزار كند. بديهی است تعداد اعتبار مصرفی كاربران در حراجی متوقف شده، بدون كارمزد به حساب كاربری آنها برگشت داده خواهد شد.

								<br>
								•	در زمان خرید در صورتی که پرداخت شما معلق باشد به این معنی است که وجهی از حساب شما به حساب یونی بید انتقال داده نشده و در صورت کسر از حساب شما باید از طریق بانک خود پیگیری کنید.

								<br>
								•	تعیین برنده در همه مزایده ها بر اساس تایمر اصلی سرور و به صورت خودکار انجام می شود، لذا حضور کاربر روی سایت نمی تواند هیچ تغییر و تضمینی روی این موضوع داشته باشد و برنده نهایی در سایت نمایش داده خواهد شد. همه کاربران در این موضوع دارای سهم مساوی هستند و دارا بودن اعتبار بالای کاربر و یا میزان بید مصرف شده ی هر کاربر هیچ ملاک معتبری برای برنده شدن نخواهد بود.

							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۱۵. قانون حاکم
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								قانون حاکم بر این توافق نامه، کلیه ‏ی قوانین و مقررات کشور جمهوری اسلامی ایران می ‏باشد.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۱۶. اصلاح توافق نامه
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								امکان بازنگری و یا اصلاح کلی و یا جزیی این توافق نامه در طی زمان وجود داشته و در صورت انجام این امر نسخه ی بازنگری شده بر روی سایت قرار گرفته و از زمان درج نسبت به همه‏ كاربران عضو موثر خواهد بود.
							</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">
								۱۷. شرایط فورس ماژور
							</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">
								عمل به مفاد این توافق نامه در شرایط خارج از اراده از قبیل قطعی سیستم اینترنت و فورس ماژور شامل سیل، زلزله، صاعقه، آتش سوزی و سایر موارد مشابه مستثنی خواهد بود.
							</p>
						</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
</script>
{% endblock scripts %}
