<div class="accountProfile">
  <div class="financeContainer">
    <p class="accountProfile-title">تاریخچه خرید<img src="assets/resources/images/assets/png/001-down-arrow-copy-5.png"  (click)="goBack()"/></p>
    <p class="accountProfile-financialCredit-title">آخرین خریدهای شما</p>
    <div class="accountProfile-financialCredit-wrapper">
      <div class="accountProfile-financialCredit-item" *ngFor="let payment of payments">
        <img class="accountProfile-financialCredit-item-img" [src]="Link.product(payment.image)" alt="">
        <div class="accountProfile-financialCredit-item-info-wrapper">
          <div class="accountProfile-financialCredit-item-info">
            <p class="accountProfile-financialCredit-item-info-title">{{payment.title}}</p>
            <p><span class="accountProfile-financialCredit-item-info-caption"> شماره فاکتور:</span>{{payment.factor}}</p>
            <p><span class="accountProfile-financialCredit-item-info-caption">مبلغ:</span>{{payment.price | currency : ' ' : 'symbol' : '1.0-0'}} تومان</p>
            <p>{{ payment.date | persian : 'dddd DD MMMM YYYY'}}</p>
            <p><span class="accountProfile-financialCredit-item-info-caption-theme">تخفیف:</span>{{payment.discount | currency : ' ' : 'symbol' : '1.0-0'}} تومان</p>
            <p><span class="accountProfile-financialCredit-item-info-caption">تعداد:</span>{{payment.quantity}}</p>
            <p><span  class="accountProfile-financialCredit-item-info-caption">مبلغ پرداختی:</span>{{payment.paid | currency : ' ' : 'symbol' : '1.0-0'}} تومان</p>
          </div>
          <div (click)="readMore($event)" data-collapse="true"  class="accountProfile-readmore"><img src="assets/resources/images/assets/png/001-down-arrow-copy-6.png"/><a>بیشتر</a></div>

        </div>
      </div>
    </div>

    <div class="accountProfile-financialCredit-footer">
      <span>تخفیف‌های گرفته شده از یونی بید</span>
      <span>{{totalDiscount | currency : ' ' : 'symbol' : '1.0-0'}} تومان</span>
    </div>
    <app-error></app-error>
    <app-success></app-success>
    <app-loading></app-loading>
  </div>
</div>
