<div *ngIf="auction.remainedTime > 60000">
    <div class="cart" (click)="RegisterAuctionSlideupClick()">

      <div *ngIf="coinState=='pallet' && !auction.participated">
        <div class="registerAuction" [ngClass]="{'cfnAnimation-slideup': showRegisterAuction == true, 'cfnAnimation-slidedown': hideRegisterAuction == true}">
          <p class="registerAuctionTitle">
            ثبت نام در حراجی
            <img (click)="RegisterAuctionSlideDownClick($event)" class="registerAuctionTitle-arrowDown" src="../../assets/resources/images/assets/svg/arrowDown.svg" alt="">
          </p>
          <p class="registerAuctionParag">برای شرکت در حراجی بسته مورد نظر را انتخاب کنید.</p>
          <div *ngFor="let coin of auction?.coins">
            <div class="registerAuction-item" (click) = "registerByCoin($event,auction.auctionId,coin.planId)">
              <div class="registerAuction-item-image">
                 <img src="../../assets/resources/images/assets/png/coins.png" alt="">
              </div>
              <div class="registerAuction-item-info">
                <p><span>{{coin.coinCount}} سکه</span> ({{coin.price | currency : ' ' : 'symbol' : '1.0-0'}} تومان)</p>
                <p>{{coin.bids}} عدد پیشنهاد</p>
                <p>کوپن تخفیف {{coin.discountCoupon | currency : ' ' : 'symbol' : '1.0-0'}} تومانی</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="coinState=='gems' && !auction.participated">
        <div class="registerAuction" [ngClass]="{'cfnAnimation-slideup': showRegisterAuction == true, 'cfnAnimation-slidedown': hideRegisterAuction == true}">
          <div class="hoveredAuction">
              <p class="hoveredAuctionTitle">
                خرید سکه
                <img (click)="RegisterAuctionSlideDownClick($event)" class="registerAuctionTitle-arrowDown" src="../../assets/resources/images/assets/svg/arrowDown.svg" alt="">
              </p>
              <div class="hoveredAuctionContent" >
                <div class="hoveredAuction-imageWrapper">
                  <img src="../../assets/resources/images/assets/png/slot-machine@2x.png"/>
                </div>
                <p class="hoveredAuctionContent-title">{{GetParticipation.details.requiredGems}} عدد الماس </p>
                <p class="hoveredAuctionContent-parag">برای خرید {{GetParticipation.details.coinsNeeded}} سکه {{GetParticipation.details.requiredGems}} الماس بدهید.</p>
                <br/>
                <br/>
                <br/>
              </div>

              <a class="cfnButton cfnButton-primary" (click)="registerByGem($event,auction.auctionId,GetParticipation.details.planId)">تایید</a>
            </div>
        </div>
      </div>

      <div *ngIf="coinState=='confirmed'">
        <div class="registerAuction" [ngClass]="{'cfnAnimation-slideup': showRegisterAuction == true, 'cfnAnimation-slidedown': hideRegisterAuction == true}">
          <div class="hoveredAuction">
              <p class="hoveredAuctionTitle">
                ثبت نام در حراجی
                <img (click)="RegisterAuctionSlideDownClick($event)" class="registerAuctionTitle-arrowDown" src="../../assets/resources/images/assets/svg/arrowDown.svg" alt="">
              </p>
              <div class="hoveredAuctionContent">
                <div class="hoveredAuction-imageWrapper">
                  <img src="../../assets/resources/images/assets/png/coins@2x.png"/>
                  <img src="../../assets/resources/images/assets/png/check.png" class="hoveredAuction-check"/>
                </div>
                <p class="hoveredAuctionContent-title">{{GetParticipation.details.coinsNeeded}} سکه</p>
                <p class="hoveredAuctionContent-parag"> تعداد {{GetParticipation.details.coinsNeeded}} سکه جهت شرکت شما در {{GetParticipation.details.auction}} کسر شد.</p>
                </div>
              </div>
        </div>
      </div>

      <div *ngIf="auction.participated">
        <div class="registerAuction" [ngClass]="{'cfnAnimation-slideup': showRegisterAuction == true, 'cfnAnimation-slidedown': hideRegisterAuction == true}">
          <div class="hoveredAuction">
              <p class="hoveredAuctionTitle">
                شرکت در حراجی
                <img (click)="RegisterAuctionSlideDownClick($event)" class="registerAuctionTitle-arrowDown" src="../../assets/resources/images/assets/svg/arrowDown.svg" alt="">
              </p>
              <div class="hoveredAuctionContent">
                <div class="hoveredAuction-imageWrapper">
                  <img src="../../assets/resources/images/assets/png/coins@2x.png"/>
                  <img src="../../assets/resources/images/assets/png/check.png" class="hoveredAuction-check"/>
                </div>
                <p class="hoveredAuctionContent-title">{{auction.plan.bids}} پیشنهاد با پلن {{auction.plan.title}}</p>
                <p class="hoveredAuctionContent-parag">شما {{auction.plan.coins}} سکه جهت شرکت در {{auction.title}} پرداخت کرده اید.</p>
                </div>
              </div>
        </div>
      </div>

      <div class="cart-tag" *ngIf="auction.tag"></div>
      <span class="cart-tag-content" *ngIf="auction.tag">{{auction.tag}}</span>
      <div class="cart-share-fav">
          <div class="heart" [ngClass]="{'is_animating': toggleHeart || (toggleHeart && auction.liked)}" (click)="toggleClick($event,auction.auctionId)"></div>
          <img src="../../assets/resources/images/assets/png/share.png">
          <img *ngIf="auction.participated || participated " class="cart-participated" src="../../assets/resources/images/assets/svg/tick.svg">
      </div>
      <img [src]="Link.product(auction.image)" alt="" class="cart-image">
      <p class="cart-title">{{auction.title}}</p>

      <div class="cart-off">
          <span class="cart-off-percent">٪{{auction.discount}}</span>
        <div class="cart-off-info">
            <p class="cart-off-after">شروع حراجی: {{auction.basePrice | currency : ' ' : 'symbol' : '1.0-0'}} تومان</p>
            <p class="cart-off-before">سقف حراجی: {{auction.maxPrice | currency : ' ' : 'symbol' : '1.0-0'}} تومان</p>
        </div>
      </div>
      <div class="cart-timer">
          <div class="cart-timer-part">
            <span class="cart-time">{{remainedTime.seconds}}</span>
            <span class="cart-time-text">ثانیه</span>
          </div>
          <div class="cart-timer-part">
              <span class="cart-time">{{remainedTime.minute}}</span>
              <span class="cart-time-text">دقیقه</span>
          </div>
          <div class="cart-timer-part">
              <span class="cart-time">{{remainedTime.hour}}</span>
              <span class="cart-time-text">ساعت</span>
          </div>
          <div class="cart-timer-part">
              <span class="cart-time">{{remainedTime.day}}</span>
              <span class="cart-time-text">روز</span>
          </div>
        </div>
      <div class="cart-footer">
       <div class="cart-footer-rank">
          <img src="../../assets/resources/images/assets/png/star.png">
          <span>{{auction.maxLevel}} / {{auction.level}}</span>
       </div>
       <div class="cart-footer-contributer" dir="ltr">
          <img *ngFor="let pic of auction.participants.icons" [src]="Link.avatar(pic)" alt="" class="">
         <span>شرکت کنندگان: {{auction.participants.count }} از {{auction.maxMembers}}</span>
       </div>
     </div>

    </div>
  </div>

<div *ngIf="auction.remainedTime <= 60000">
  <div class="cart cart-suggest">

    <div class="cart-share-fav">
        <div class="heart" [ngClass]="{'is_animating': toggleHeart || (toggleHeart && auction.liked)}" (click)="toggleClick($event,auction.auctionId)"></div>
        <img src="../../assets/resources/images/assets/png/share.png">
        <img *ngIf="auction.participated || participated " class="cart-participated" src="../../assets/resources/images/assets/svg/tick.svg">
    </div>

      <img [src]="Link.product(auction.image)" alt="" class="cart-image">
      <p class="cart-title">{{auction.title}}</p>
      <div class="cart-off">
          <span class="cart-off-percent">٪{{auction.discount}}</span>
        <div class="cart-off-info">
            <p class="cart-off-after">شروع حراجی: {{auction.basePrice | currency : ' ' : 'symbol' : '1.0-0'}} تومان</p>
            <p class="cart-off-before">سقف حراجی: {{auction.maxPrice | currency : ' ' : 'symbol' : '1.0-0'}} تومان</p>
        </div>
      </div>
      <a [routerLink]="" (click)="toggleClick($event,auction.auctionId)" class="cfnButton cfnButton-primary"> {{auction.started.remainedBids}} پیشنهاد </a>
      <app-progress [current]="tryParseInt(auction.remainedTime/1000)" [total]="tryParseInt(auction.remainedTime/1000)" ></app-progress>

     <div class="cart-footer">
       <p>آخرین پیشنهاد : {{auction.started.lastBidPrice | currency : ' ' : 'symbol' : '1.0-0'}} تومان </p>
       <div class="cart-footer-contributer" dir="ltr">
         <span>{{auction.started.winnerName}}</span>
          <img [src]="Link.avatar(auction.started.winnerAvatar)" alt="" class="">
          <span>نفر اول</span>
       </div>
     </div>
   </div>
</div>

<div class="cfnLoaderWrapper" *ngIf="loading">
  <div class="cfnLoader"></div>
</div>

<div class="cfnError" #errorMessage>
  <ng-template [ngIf]="errorObj">
    {{errorObj.error.message}}
</ng-template>
</div>
