@import url(assets/resources/css/variables.css);
@import url(assets/resources/css/base.css);
@import url(assets/cfnComponents/cfnAnimations.css);
@import url(assets/cfnComponents/Animations.css);
@import url(assets/cfnComponents/cfnText.css);
@import url(assets/cfnComponents/cfnCheckbox.css);
@import url(assets/cfnComponents/cfnButton.css);
@import url(assets/cfnComponents/cfnValidation.css);
@import url(assets/cfnComponents/cfnSearch.css);
@import url(assets/cfnComponents/cfnLoader.css);
/* @import url(assets/resources/fonts/Iransans/css/fontiran.css); */
@import url(assets/resources/fonts/IransansFA/css/fontiran.css);
/* @import url(assets/resources/fonts/roboto/css/roboto.css); */

app-default {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
