/* Table of contents
  -fadeInHoriz
  -fadeIn
*/

/* =fadeInHoriz */
@keyframes fadeInHoriz {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(25px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.Animation-fadeInHoriz {
  animation: fadeInHoriz 0.8s ease;
}

/* =fadeIn */
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.cfnAnimation-fadeIn {
  animation: fadeIn 0.4s ease forwards;
}

.cfnAnimation-slideup {
  animation: slideup .5s ease both;
  display: block !important;
}

.cfnAnimation-slidedown {
  animation: slidedown .5s ease both;
}

@keyframes slidedown {
  to { opacity: 0; -webkit-transform: translateY(100%) rotateX(-90deg); transform: translateY(100%) rotateX(-90deg); }
}

@keyframes slideup {
  from { opacity: 0; -webkit-transform: translateY(100%) rotateX(-90deg); transform: translateY(100%) rotateX(-90deg); }
}
