
 .cfnLoaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1000000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cfnLoader {
  border: 3px solid #e8e8e8;
  border-top: 3px solid #f06292;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1.4s linear infinite;
  position: relative;
}

@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
