.cfnSearch {
  display: flex;
  align-items: center;
  width: 400px;
  height: 42px;
  border-radius: 28px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  margin-left: auto;
  position: relative;
  z-index: 1000000;
  top:0;
}

.cfnSearch-input {
  border: none;
  font-family: inherit;
  font-weight: inherit;
  padding: 0.9em 16px 0.9em 0;
  outline: none;
  flex: 1;
  font-size: 13px;
  margin-right: 20px;
}

.cfnSearch-input::placeholder {
  color: #707070;
  font-size: 13px;
}

.cfnSearch-submit {
  padding: 0 1em;
  width: 20px;
  height: 20px;;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-right: 1px solid #ebebeb;
  height: 23px;
}


.search-toolbar-suggestion {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  top:0;
  z-index: -1;
  border-radius: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
  color: #212121;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: translateY(10px);
}

.search-toolbar-suggestion-show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.search-toolbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.search-toolbar-list > li {
  padding: 15px 0;
  border-bottom: solid 1px #ebebeb;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 42px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 16px;
}

.search-toolbar-list > li:last-of-type {
  border:none;
}

.search-toolbar-list > li:hover {
  transform: translateX(-10px);
  font-weight: bold;
}

.search-toolbar-list > li > img {
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  pointer-events: none;
}