.radio-check{
  position: relative;
  display: flex;
  flex-direction: row;
}

.radio-check-wrapper{
  display: flex;
  margin: 10px;
  align-items: center;
  align-content: center;
}

.radio-check-circle
{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #4a90e2;
  cursor: pointer;
}

.radio-check-circle-fill
{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4a90e2;
  border: 6px double #fff;
  cursor: pointer;
  margin: -2px;
}

.radio-check-circle-fill:hover{
  opacity: 1;
}

.radio-check-circle-title{
  font-size: 16px;
  font-weight: 300;
  margin-right: 10px;
  color: #707070;
}
.radio-title{
  padding: 10px;
  margin: 20px 0px 0px;
  font-size: 16px;
  color: #707070;
}
