.swiper-wrapper {
  margin-top: 30px;
  min-height: 700px;
}

.swiper-slide {
  max-width: calc(100vw - 190px);
  /*width: 300px!important;
  height: 300px!important;*/
  /*border: 1px solid #000;*/
}

.swiper-button-next,
.swiper-button-prev {
  width: 56px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: #212121;
  background-image: url('src/assets/resources/images/assets/png/left-arrow@3x.png');
  background-size: 20%;
}

.swiper-button-prev {
  background-image: url('src/assets/resources/images/assets/png/right-arrow@3x.png');
}
