<div class="accountProfile">
  <div class="editProfileContainer">
    <p class="accountProfile-title">ویرایش پروفایل<img src="assets/resources/images/assets/png/001-down-arrow-copy-5.png" (click)="goBack()" /></p>
    <div class="accountProfile-profile-header">
      <div class="accountProfile-profile-editProfile-headerTop">
        <div class="accountProfile-profile-editProfile-headerTop-avatar">
          <div><img src="assets/resources/images/assets/png/ic-camera-alt-24-px@2x.png" alt="" (click)="toggleAvatar()" /></div>
          <p>انتخاب آواتار</p>
        </div>
        <img [src]="Link.avatar(editables?.avatar)" alt="">
      </div>
      <div class="accountProfile-profile-editProfile">
        <app-small-states *ngIf="shared.states" [state]="selectedState?.title" [states]="editables?.states"></app-small-states>
        <form [formGroup]="registerForm">
          <div><input type="text" placeholder="نام و نام خانوادگی" value="{{editables?.fullName}}" class="cfnText" formControlName="fullName"/></div>
          <div><span class="cfnTextSign">@</span><input type="text" placeholder="پست الکترونیک" value="{{editables?.email}}" class="cfnText" formControlName="email"/></div>
          <div (click)="toggleStates($event)">
            <a class="cfnButton cfnButton-empty">{{selectedState?.title}}<img src="assets/resources/images/assets/png/arrow-down.png"/></a>
          </div>
          <div><input type="text" class="cfnText" placeholder="شهر" value="{{editables?.city}}" formControlName="city"/></div>
          <div><input type="text" class="cfnText" placeholder="آدرس" value="{{editables?.address}}" formControlName="address" /></div>
          <a href="" class="cfnButton cfnButton-primary" (click)="SaveProfile($event)">اعمال</a>
      </form>
      </div>
    </div>
    <app-success></app-success>
    <app-error></app-error>
    <app-loading></app-loading>
  </div>
</div>
