<div class="confirm-wrapper">
  <div *ngIf="buy.type!='avatar'">
    <div class="confirm-box">
      <span class="config-close" (click)="close()">
        &#10006;
      </span>
      <img src="{{buy.picture}}" alt="">
      <p class="confirm-text">{{buy.title}}</p>
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <span class="confirm-trackingTitle">قیمت نهایی</span>
        <span class="confirm-trackingTitle" style="color:#212121;">{{buy.price | currency : ' ' : 'symbol' : '1.0-0'}} تومان</span>
      </div>
      <a style="width: 80%;" class="cfnButton cfnButton-primary">ورود به درگاه بانک و پرداخت نهایی</a>
      <app-error></app-error>
      <app-success></app-success>
      <app-loading></app-loading>
    </div>
  </div>

  <div  *ngIf="buy.type=='avatar'">
    <div class="confirm-box">
      <span class="config-close" (click)="close()">
        &#10006;
      </span>
      <img src="{{buy.picture}}" alt="">
      <p class="confirm-text">{{buy.title}}</p>
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <span class="confirm-trackingTitle">تعداد</span>
        <span class="confirm-trackingTitle" style="color:#212121;">{{buy.price}} الماس </span>
      </div>
      <a style="width: 80%;" class="cfnButton cfnButton-primary" (click)="confirm($event)">تایید</a>
      <app-error></app-error>
      <app-success></app-success>
      <app-loading></app-loading>
    </div>
  </div>
</div>

<!-- <div class="confirm-wrapper">
  <div class="confirm-box">
    <app-error></app-error>
    <app-success></app-success>
    <app-loading></app-loading>
  </div>
</div> -->
