<div class="customDropdown-container">
  <div class="customDropdown">
    <p class="accountProfile-title">{{messageType}}<img (click)="goBack()" src="assets/resources/images/assets/png/001-up-arrow-copy-5.png" id="CloseCityPage"/></p>
    <ul class="cities">
      <!-- <li (click)="changeState($event)" *ngFor="let state of states">{{state.title}}</li> -->
      <li (click)="changeState($event)">تقدیر و تشکر</li>
      <li (click)="changeState($event)">اشکال در سایت</li>
      <li (click)="changeState($event)">پشتیبانی سایت</li>
      <li (click)="changeState($event)">درخواست همکاری</li>
    </ul>
  </div>
</div>
