<div class="accountProfile">
  <div class="shipmentEditContainer">
    <p class="accountProfile-title"> ویرایش مشخصات آدرس <img src="assets/resources/images/assets/png/001-down-arrow-copy-5.png" (click)="goBack()" /></p>
    <div class="accountProfile-shippingSteps">
      <div>
        <div>
          <div class="accountProfile-shippingSteps-check accountProfile-shippingSteps-check-checked"></div>
          <span>سبد خرید</span>
        </div>
      </div>
      <div>
        <span class="accountProfile-shippingSteps-line"></span>

        <div>
          <div class="accountProfile-shippingSteps-check"></div>
          <span>تایید آدرس</span>
        </div>
      </div>
      <div class="accountProfile-shippingSteps-disabled">
        <span class="accountProfile-shippingSteps-line"></span>
        <div>
          <div class="accountProfile-shippingSteps-check"></div>
          <span>روش پرداخت</span>
        </div>
      </div>
    </div>
    <div class="accountProfile-address">
      <app-states *ngIf="shared.states" [state]="selectedState?.title" [states]="shipmentInfo.states"></app-states>
      <form [formGroup]="registerForm">
        <div><input type="text" value="{{shipmentInfo?.fullName}}" class="cfnText" formControlName="fullName"/></div>
        <div><span class="cfnTextSign">@</span><input type="text" value="mrjcr" class="cfnText" formControlName="email"/></div>
        <div (click)="toggleStates($event)"><a class="cfnButton cfnButton-empty">{{selectedState?.title}}<img src="assets/resources/images/assets/png/arrow-down.png"/></a></div>
        <div><input value="{{shipmentInfo?.city}}" type="text" class="cfnText" placeholder="شهر" formControlName="city"/></div>
        <div><input value="{{shipmentInfo?.address}}" type="text" class="cfnText" placeholder="آدرس" formControlName="address"/></div>
        <div><input value="{{shipmentInfo?.workPlace}}" type="text" class="cfnText" placeholder="محل کار" formControlName="workPlace"/></div>
        <a class="cfnButton cfnButton-primary" (click)="SaveShipment($event)">تایید</a>
      </form>
    </div>
    <a style="width:160px;" class="cfnButton cfnButton-primary" (click)="goToNext()">مرحله بعد</a>
    <app-error></app-error>
    <app-success></app-success>
    <app-loading></app-loading>
  </div>
</div>
